@model IEnumerable<CarteiraClientes.ViewModels.Report.ReportViewModel>

@{
    ViewData["Title"] = "Relatórios Gerados";
}

<h4>@ViewData["Title"]</h4>

<div>
    <table class="table table-bordered border-light-subtle table-striped table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayName("Nome do Arquivo")
            </th>
            <th class="text-center text-white">
                @Html.DisplayName("Opções")
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="d-flex justify-content-center">
                    @Html.DisplayFor(modelItem => item.ReportName)
                </td>
                <td>
                    <a href="@Url.Action("Download", new { reportName = item.ReportName })" class="btn btn-success" onclick="return confirm('Deseja realmente deletar este relatório?')">Download</a>
                </td>
                <td class="d-flex justify-content-center">
                    <a href="@Url.Action("Delete", new { reportName = item.ReportName })" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>