@model cloudscribe.Pagination.Models.PagedResult<CarteiraClientes.ViewModels.Client.GetClientViewModel>

@* ViewDictionary to use PartialView *@
@{
    ViewData["Controller"] = "Clients";
    ViewData["Action"] = "IndexPaged";
}

<div class="text-primary fs-4">Lista de Clientes</div>
<br/>

<form asp-action="IndexPaged" method="get">
    <div>
        <p class="text-white">
            Procurar Pessoa: <input type="text" name="searchString" value=""/>
            <input type="submit" value="Pesquisar"/> |
            <a class="text-light" asp-action="IndexPaged">Limpar Filtro</a>
        </p>
    </div>
    <table class="table border-light-subtle table-hover table-bordered">
        <thead class="text-center">
        <td>
            @Html.DisplayName("Código")
        </td>
        <td class="text-center text-info">
            <a asp-action="IndexPaged"
               asp-route-sortOrder="@ViewBag.NameSortParam"
               asp-route-pageNumber="@Model.PageNumber">
                @* Preserver paging status after sorting filter *@
                @Html.DisplayName("Nome Completo")
            </a>
        </td>
        <td class="text-center">
            @Html.DisplayName("Idade")
        </td>
        <td class="text-center">
            @Html.DisplayName("RG")
        </td>
        <td class="text-center">
            @Html.DisplayName("Sexo")
        </td>
        <td class="text-center text-info">
            <a asp-action="IndexPaged"
               asp-route-sortOrder="@ViewBag.IsOverdueSortParam"
               asp-route-pageNumber="@Model.PageNumber">
                @* Preserver paging status after sorting filter *@
                @Html.DisplayName("Inadimplente?")
            </a>
        </td>
        <td class="text-center">
            @Html.DisplayName("Opções?")
        </td>
        </thead>
        <tbody>
        @foreach (var client in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => client.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Age)
                </td>
                <td>
                    @($"{client.Document.Substring(0, 2)}.{client.Document.Substring(2, 3)}.{client.Document.Substring(5, 3)}-{client.Document.Substring(8)}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => client.IsOverdue)
                </td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-info border-1 m-1" asp-action="Details" asp-route-id="@client.ClientId">Detalhes</a>
                    <a class="btn btn-warning border-1 m-1" asp-action="Edit" asp-route-id="@client.ClientId">Editar</a>
                    <a class="btn btn-danger border-1 m-1" asp-action="Delete" asp-route-id="@client.ClientId">Remover</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
<partial name="_PaginationPartial" view-data="ViewData" model="Model"/>