@model cloudscribe.Pagination.Models.PagedResult<CarteiraClientes.ViewModels.ClientCompany.GetClientCompanyViewModel>
@{
    ViewData["Controller"] = "ClientsCompanies";
    ViewData["Action"] = "IndexPaged";
}

<div class="text-primary fs-4">Relação entre Clientes e Empresas</div>
<a class="btn btn-secondary rounded-1 float-end mb-1" asp-controller="Home" asp-action="Index">Retornar ao Início</a>
<br/>

<form asp-action="IndexPaged" method="get">
    <table class="table border-light-subtle table-bordered table-hover">
        <thead class="text-center">
        <td>
            @Html.DisplayName("Código Cliente")
        </td>
        <td>
            @Html.DisplayName("Registro Geral Cliente")
        </td>
        <td>
            @Html.DisplayName("Nome Completo Cliente")
        </td>
        <td>
            @Html.DisplayName("Inadimplete?")
        </td>
        <td>
            @Html.DisplayName("Código Empresa")
        </td>
        <td>
            @Html.DisplayName("Nome Empresa")
        </td>
        </thead>
        <tbody>
        @foreach (var clientCompany in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => clientCompany.ClientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clientCompany.Document)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clientCompany.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clientCompany.IsOverdue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clientCompany.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => clientCompany.CompanyName)
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>
<partial name="_PaginationPartial" view-data="ViewData" model="Model"/>