@using System.Globalization
@model cloudscribe.Pagination.Models.PagedResult<CarteiraClientes.ViewModels.Company.GetCompanyViewModel>
@* ViewDictionary to use PartialView *@
@{
    ViewData["Controller"] = "Companies";
    ViewData["Action"] = "IndexPaged";
}
<div class="text-primary fs-4">Lista de Companhias</div>
<br/>

<form asp-action="Index" method="get">
    <table class="table border-light-subtle table-hover table-bordered">
        <thead class="text-center">
        <td>
            @Html.DisplayName("Código")
        </td>
        <td class="text-center">
            @Html.DisplayName("Nome Empresa")
        </td>
        <td class="text-center">
            @Html.DisplayName("Data Fundação")
        </td>
        <td class="text-center">
            @Html.DisplayName("Lucro Anual")
        </td>
        <td class="text-center">
            @Html.DisplayName("Opções")
        </td>
        </thead>
        <tbody>
        @foreach (var company in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => company.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => company.CompanyName)
                </td>
                <td>
                    @($"{company.FoundedDate.ToString("dd/MM/yyyy")}")
                </td>
                <td>
                    @($"{company.Revenue.ToString("c", CultureInfo.CreateSpecificCulture("pt-BR"))}")
                </td>
                <td class="d-flex justify-content-center">
                    <a class="btn btn-info border-1 m-1" asp-action="Details" asp-route-id="@company.CompanyId">Detalhes</a>
                    <a class="btn btn-warning border-1 m-1" asp-action="Edit" asp-route-id="@company.CompanyId">Editar</a>
                    <a class="btn btn-danger border-1 m-1" asp-action="Delete" asp-route-id="@company.CompanyId">Remover</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>

<partial name="_PaginationPartial" view-data="ViewData" model="Model"/>